{% if ansible_architecture == 'x86_64' -%} 
-a always,exit -F arch=b64 -S sethostname -S setdomainname -k system-locale
{% endif %}
-a always,exit -F arch=b32 -S sethostname -S setdomainname -k system-locale
-w /etc/issue -p wa -k system-locale
-w /etc/issue.net -p wa -k system-locale
-w /etc/hosts -p wa -k system-locale
-w /etc/network -p wa -k system-locale
-w /etc/networks -p wa -k system-locale
